.newsletter-signup, .header-search
{
	margin-top: 20px;
	.primary-button 
	{
		background: #ff5e00;
	}
	input 
	{
		padding: 8px 0;
		border: 0;
		text-indent: 5px;
		margin-right: 3px;
		width: 200px;
	}
}
.header-search 
{
	float: right;
}
.mobile-newsletter-signup
{
	input 
	{
		font-size: 2em;
		background: #fff;
		padding: 10px;
		border: 0;
		width: 100%;
		margin-bottom: 20px;
	}
	button 
	{
		background: #ff6633;
		padding: 20px 0;
		color: white;
		font-size: 2em;
		font-weight: 700;
		border: 0;
		width: 49%;
		margin-right: 2%;
		float: left;
		text-align: center;
		text-transform: uppercase;
		&:last-of-type 
		{
			margin-right: 0;
		}
	}
}
