.side-content
{
	.side-block
	{
		margin-bottom: 25px;
		h3 
		{
			margin-top: 0;
			padding: 8px 16px;
			background: #191919;
			color: white;
			font-size: 21px;
			font-weight: bold;
			.follow 
			{
				font-size: 13px;
				line-height: 30px;
				float: right;
				color: $primary-orange;
				font-style: italic;
			}
			i 
			{
				margin-left: 5px;
			}
		}
	}
}
.side-post 
{
	background: #f5f5f5;
	padding: 10px;
	.post 
	{
		max-height: 250px;
		overflow: hidden;
		.post-overlay 
		{
			padding: 10px;
		}
		img 
		{
			min-width: 100%;
		}
	}
}
.tweets 
{
	li 
	{
		display: block;
		padding: 0 15px;
		margin-bottom: 40px;
		&:last-child 
		{
			margin-bottom: 0;



		}
	}
	.tweet-head 
	{
		img
		{
			width: 50px;
			height: 50px;
			float: left;
			margin-right: 10px;
		}
		.user 
		{
			float: left;
		}
		.username, .name
		{
			display: block;
			font-size: 16px;
			color: #171717;
		}
		.name 
		{
			font-weight: 600;
		}
	}
	.text 
	{
		margin-top: 20px;
		font-size: 14px;
		color: #171717;
		font-weight: 600;
		a 
		{
			color: $primary-orange;
		}
	}
}
.instas 
{
	li 
	{
		float: left;
		width: 48.75%;
		margin-right: 2.5%;
		margin-bottom: 5px;
		&:nth-child(2n)
		{
			margin-right: 0;
		}
	}
}
.product-spotlight
{
	text-align: center;
}